<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/code-review.css') }}">

    <title>GitMarvel - Make your code stand out!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo-small.svg') }}"type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
            <img  class="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" />
        </div>
        <ul class="nav-links">
            <!-- <li><a class="active" href="#home">Home</a></li>
            <li><a>About</a></li>
            <li><a>Team</a></li>
            <li><a>Terms & Co</a></li>
            <li><a>Contact</a></li> -->
        </ul>
        <!-- onclick="window.location.href='/logout'" -->
        <div>
            <div class="user-profile" onclick="logoutvisible()">
                <div class="avatar">
                    <img src="{{avatar_url}}" alt="">
                </div>
                <p>{{userName}}</p>
                <p style="font-size: 0.8rem; display: none; margin-right: 2rem;" onclick="window.location.href='/logout'" id="logout" >logout?</p>
            </div>
            
        </div>
    </nav>
    <main>
        <div class="main-container">
            <p>Hey there, what can I do for you?</p>
            <div class="select-container">
                <select id="repository-select" class="custom-select">
                    {% for repo in repos %}
                        <option value="{{ repo.full_name }}">{{ repo.name }}</option>
                    {% endfor %}
                </select>
                <button class="select-button">
                    <img src="{{ url_for('static', filename='icons/down-arrow.svg') }}"></img> <!-- Replace with your icon or image -->
                  </button>                
            </div>
            <div class="chat-input-container">
                <input type="text" class="chat-input" id="commit-input" placeholder="Enter commit hash">
                <button class="send-button" id="send-button">
                  <img class="send-icon" src="{{ url_for('static', filename='icons/send-icon.svg') }}"></img> <!-- You can replace this with an image or font icon -->
                </button>
            </div>
            
            <div class="review-container">
                <div id="final-feedback" class="final-feedback"></div>
                
                <div id="code-review-sections" class="code-review-section">
                    <!-- Code review items will be populated here -->
                </div>
            </div>
        </div>
        <footer class="dashboardfooter">
            GITMARVEL @2024
        </footer>
    </main>
    <script src="{{ url_for('static', filename='js/code-review.js') }}"></script>
<script>
    function logoutvisible(){
        console.log("lols")
        var vis = document.getElementById("logout").style.display;
        console.log(vis)
        if(vis=="none"){
            document.getElementById("logout").style.display = "block";
        }
        else{
            document.getElementById("logout").style.display="none"
        }
    }
</script>
</body>
</html>
