<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>GitMarvel - Make your code stand out!</title>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo-small.svg') }}"type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
            <img  class="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" />
        </div>
        <ul class="nav-links">
            <!-- <li><a class="active" href="#home">Home</a></li>
            <li><a>About</a></li>
            <li><a>Team</a></li>
            <li><a>Terms & Co</a></li>
            <li><a>Contact</a></li> -->
        </ul>
        <!-- onclick="window.location.href='/logout'" -->
        <div>
            <div class="user-profile" onclick="logoutvisible()">
                <div class="avatar">
                    <img src="{{avatar_url}}" alt="">
                </div>
                <p>{{userName}}</p>
                <p style="font-size: 0.8rem; display: none; margin-right: 2rem;" onclick="window.location.href='/logout'" id="logout" >logout?</p>
            </div>
            
        </div>
    </nav>
    <main id="main">
        <div class="main-container">
            <p>Hey there, what can I do for you?</p>
            <div class="select-container">
                <select id="repository-select" class="custom-select">
                    {% for repo in repos %}
                        <option value="{{ repo.full_name }}">{{ repo.name }}</option>
                    {% endfor %}
                </select>
                <button class="select-button">
                    <img src="{{ url_for('static', filename='icons/down-arrow.svg') }}"></img> <!-- Replace with your icon or image -->
                  </button>                
            </div>
            <!-- <div class="chat-input-container"> -->
                <!-- <input type="text" class="chat-input" placeholder="Ask anything related to your github profile"> -->
                <!-- <button class="send-button"> -->
                  <!-- <img class="send-icon" src="{{ url_for('static', filename='icons/send-icon.svg') }}"></img> You can replace this with an image or font icon -->
                <!-- </button> -->
            <!-- </div>    -->
            <div class="options-container">
                <button class="button-with-icon" id="code-review">
                    <img src="{{ url_for('static', filename='icons/git-merge.svg') }}"alt="icon" class="button-icon">
                    <span class="button-text"><a href="/get-code-review">Code Review</a></span>
                </button>
                <button class="button-with-icon" id="storytelling">
                    <img src="{{ url_for('static', filename='icons/git-merge.svg') }}"alt="icon" class="button-icon">
                    <span class="button-text">Storytelling</span>
                </button>
                <button class="button-with-icon" id="profile-review">
                    <img src="{{ url_for('static', filename='icons/git-merge.svg') }}"alt="icon" class="button-icon">
                    <span class="button-text">Profile Review</span>
                </button>
                <button class="button-with-icon" id="readme">
                    <img src="{{ url_for('static', filename='icons/git-merge.svg') }}"alt="icon" class="button-icon">
                    <span class="button-text">Generate Readme</span>
                </button>
            </div>  
            <div id="html-output-profile" class="html-output" style="display: none;">
                <p><center>Download Profile Review</center></p>
            </div> 
            <div id="html-output-readme" class="html-output" style="display: none;">
                <p><center>Download README</center></p>
            </div>         
        </div>
        <footer class="dashboardfooter">
            GITMARVEL @2024
        </footer>
    </main>
    <div class="full" id="loader" style="display: none;">
        <div class="loader"></div>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script>
    function logoutvisible(){
        console.log("lols")
        var vis = document.getElementById("logout").style.display;
        console.log(vis)
        if(vis=="none"){
            document.getElementById("logout").style.display = "block";
        }
        else{
            document.getElementById("logout").style.display="none"
        }
    }
</script>
</body>
</html>
