<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Nav Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
            <img  class="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" onclick="window.location.href='/'"/>
        </div>
        <ul class="nav-links">
            <!-- <li><a class="active" href="#home">Home</a></li>
            <li><a>About</a></li>
            <li><a>Team</a></li>
            <li><a>Terms & Co</a></li>
            <li><a>Contact</a></li> -->
        </ul>
        <button class="top-btn">Get In Touch</button>
    </nav>
    <section class="hero-container">
        <div class="left">
            <p>
                Sign In with Github to start using 
                <span class="githubspan">GitMarvel</span>
            </p>
            <button class="accent-btn"><a href="{{ github_login_url }}">Login with GitHub</a></button>
        </div>
        <div class="right">
            <img  class="hero" src="{{ url_for('static', filename='images/landing.svg') }}" alt="Logo" />
        </div>
    </section>
    <footer>
        GITMARVEL @2024
    </footer>
</body>
</html>
